# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.env
*.env
.env.*
*.venv
venv/
env/
ENV/
.Python

# Alembic
alembic.ini
migrations/

# Test cache
.pytest_cache/
.tox/
.coverage
coverage.xml
htmlcov/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log

# Backup files
*.bak
*.old
*~

# log files
app/logs/


# ignore log
logs/
*.log
*.log.*

# workspace
*.code-workspace

# database
newsarticles.db
*.sqlite
*.sqlite3

# virtual environment
economy-env/

#archive code
archived_code/

# Add these if you use them:
dist/
build/
*.egg-info/
.mypy_cache/