# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.env
*.venv
venv/
env/
ENV/
.Python

# FastAPI / Uvicorn logs
*.log

# Alembic
alembic.ini
migrations/

# Test cache
.pytest_cache/
.tox/
.coverage
coverage.xml
htmlcov/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# System Files
.DS_Store
Thumbs.db

# Node / Frontend
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.*


# Backup files
*.bak
*.old
*~

# log files
app/logs/

# archive code
app/archived_code/logs

# ignore log
logs
*.log
*.log.*
